* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100hv;
}

.card {
    width: 100%;
    max-width: 400px;
    text-align: center;
    background: rgba(183, 0, 255, 0.5);
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}