*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas: "nav" "main" "projects" "footer";
    grid-template-rows: 80px 1fr 500px 80px;
    height: 100vh;
    /* padding: 8px; */
}
main{
    height: 900px;

    
}
section {
    display: flex;
    width: 100%;
    max-width: 100vw;
    height: 100%;
    position: relative;
}

.banner-left{
    flex: 2;
    background: rgb(0, 255, 225);

}
.middle{
    position: relative;
}
img {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.632);
    object-fit: cover;
}
.banner-right{
    flex: 3;
    background: rgb(59, 0, 78);
}
.about-me{
    display: flex;
    flex-direction: column;
    width: 400px;
    color: aliceblue;
}

footer {
    background: red;
}