@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&family=Rye&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rye";
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background:
    radial-gradient(circle, rgba(50, 102, 115, 0.219) 0%, rgba(26, 55, 80, 0.205) 20%, rgba(57, 38, 78, 0.308) 41%, rgba(61, 20, 50, 0.301) 64%, rgba(68, 16, 28, 0.253) 88%, rgba(37, 0, 0, 0.541) 100%),
    url('../../assets/img/joker-playing-at-poker-table-l6xh96sbhn3q7s4j.jpg');
    
}

.card {
    background: transparent;
    width: 40vh;
    height: 65vh;
    position: relative;
    display: flex;
    transform-style: preserve-3d; 
    transition: transform 1s;
    border-radius: 24px;
    animation: brilho 1.5s infinite alternate;
}
@keyframes brilho {
    0% {
        box-shadow: 0px 0 5px #fff, 0 0 10px rgb(123, 255, 0), 0 0 15px rgb(94, 255, 0);
    }
    50% {
        box-shadow: 0px 0 10px #fff, 0 0 20px rgb(0, 225, 255), 0 0 35px rgb(0, 217, 255);
    }
    100% {
        box-shadow: 0px 0 5px #fff, 0 0 10px rgb(255, 0, 191), 0 0 15px rgb(255, 0, 255);
    }
}
.front-card,
.back-card {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 1s;
    border-radius: 24px;
}
                                                     

.front-card {
    background-color: rgba(19, 0, 0, 0.658);
    display: grid;
    font-size: 54px;
    color: rgb(255, 231, 12);
    grid-template-rows: 150px 1fr 150px;
}
.front-card img.jkr {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    opacity: 0.8;
   

}

.back-card {
    background: url('../img/jokker.jpg') center/cover;
    transform: rotateY(180deg); 
    border: 5px solid rgb(255, 255, 255);
    opacity: 0.9;
}


.card:hover {
    transform: rotateY(180deg);
}
.naipe-cima{
   transform: translate(3%);
   padding-top: 20px;
   
}

.naipe-cima, .naipe-baixo span {
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px, 2px -2px 3px rgb(206, 90, 55);
    color: #FFFFFF;
}

.naipe-cima img, .naipe-baixo img {
    width: 40px;
    display: flex;
    /* filter:invert(100%); */
    transform: translate(-5px) ;
    filter: drop-shadow(2px 6px 8px rgba(37, 0, 0, 0.918));
}

.naipe-baixo{
    transform: translate(-3%) rotate(180deg);
    padding-top: 20px;
}


