* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #d8d8e6;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    
}

header {
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
    max-width: 1100px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;

}

header::before {
    content: "";
    display: flex;
    height: 250px;
    background: url('../img/astronaut-space-4k-wallpaper-uhdpaper.com-678@0@j.jpg') center/cover;
}

header img {
    border-radius: 50%;
    margin-top: -60px;
    width: 220px;
    height: 220px;
    border: 2px solid rgb(255, 255, 255);

}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    
}


nav a {
    text-decoration: none;
    color: #000000;
    display: flex;
    text-align: center;
    transition: 0.2s;
}

nav a:hover {
    background: #90a1ee;
    color: rgb(2, 33, 80);
}

section {
    margin: 20px 0;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.301);
    border-radius: 10px;
    max-width: 1100px;
    text-align: justify;
}

section h2 {
    padding: 10px;
}
section p {
    padding: 10px;

}


input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer {
    margin-top: 30px;
    text-align: center;
    font-size: 0.9em;
    color: #777;
}