body {
  background-color: #121212;
  color: #f0f0f0;
  scroll-behavior: smooth;
  
}

.navbar, footer {
  background-color: #1f1f1f;
}

.navbar-brand, .nav-link, footer small {
  color: #b388ff !important;
}

.nav-link:hover {
  color: #d1b3ff !important;
}

h1, h2, h3 {
  color: #b388ff;
}

section p{
  color: #e0e0e0;
}

pre {
  background-color: #1e1e2f;
  color: #e0e0e0;
}

a {
  color: #b388ff;
  text-decoration: underline;
}

a:hover {
  color: #d1b3ff;
}